<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mercado Online</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="products.html">Listar produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cart.html">Realizar compras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="order-list.html">Compras Realizadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html" onclick="logout()">Logout</a>
                </li>
                
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="text-center">Adicionar ao carriho</h2>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="form-group mb-0 mr-3">
                <label for="paymentMethod" class="mr-2">Forma de Pagamento:</label>
                <select id="paymentMethod" class="form-control form-control-sm">
                    <option value="">Selecione uma opção</option>
                    <option value="dinheiro">Dinheiro</option>
                    <option value="cartao_credito">Cartão de Crédito</option>
                    <option value="cartao_debito">Cartão de Débito</option>
                    <option value="alimentacao">Alimentação</option>
                    <option value="pix">PIX</option>
                </select>
            </div>
            <div class="form-group mb-0" style="flex: 1;">
                <label for="deliveryAddress" class="mr-2">Endereço de Entrega:</label>
                <textarea id="deliveryAddress" class="form-control form-control-sm" rows="2"
                    placeholder="Digite seu endereço" style="resize: none;"></textarea>
            </div>
        </div>
        <ul id="carrinho" class="list-group mb-4"></ul>

        <h4 class="text-center">Lista de Produtos</h4>
        <ul id="products" class="list-group"></ul>

        <div class="text-center mt-4">
            <button class="btn btn-primary" onclick="finalizarCompra()">Finalizar Compra</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let carrinho = [];
        function loadProducts() {
            axios.get("http://localhost:4567/app/products/list/").then(response => {
                var products = response.data;
                var list = document.getElementById("products");
                list.innerHTML = "";
                atualizarCarrinho();
                products.products.forEach(product => {
                    var item = document.createElement("li");
                    item.className = "list-group-item d-flex justify-content-between align-items-center";
                    item.setAttribute("data-id", product.id);
                    item.setAttribute("data-name", product.name);
                    item.innerHTML = product.id + " - " + product.name;
                    var buttonGroup = document.createElement("div");
                    buttonGroup.className = "btn-group btn-group-sm";
                    var addBtn = document.createElement("button");
                    addBtn.className = "btn btn-success";
                    addBtn.innerHTML = "Adicionar ao Carrinho";
                    addBtn.addEventListener("click", function () {
                        adicionarAoCarrinho(product);
                    });

                    buttonGroup.appendChild(addBtn);
                    item.appendChild(buttonGroup);
                    list.appendChild(item);
                });

            }).catch(error => {
                console.log(error);
            });
        }

        function adicionarAoCarrinho(product) {
            const quantidade = prompt("Informe a quantidade para adicionar ao carrinho:", 1);
            if (!quantidade || isNaN(quantidade) || quantidade <= 0) {
                alert("Quantidade inválida!");
                return;
            }
            axios.post("http://localhost:4567/app/cart/addItemsCart", {
                id: product.id,
                name: product.name,
                quantity: parseInt(quantidade) // Adiciona a quantidade
            }).then(response => {
                alert(product.name + " adicionado ao carrinho! (Quantidade: " + quantidade + ")");
                atualizarCarrinho(); // Atualiza o carrinho após adicionar
            }).catch(error => {
                alert(product.name + " já cadastrado!");
                console.error("Erro ao adicionar produto ao carrinho:", error);
            });
        }

        function atualizarCarrinho() {
            axios.get("http://localhost:4567/app/cart/ListItemsCart").then(response => {
                carrinho = response.data;
                var carrinhoList = document.getElementById("carrinho");
                carrinhoList.innerHTML = ""; // Limpa a lista do carrinho
                carrinho.forEach(item => {
                    var li = document.createElement("li");
                    li.className = "list-group-item d-flex justify-content-between align-items-center";
                    li.innerHTML = `${item.id} - ${item.name} 
                        <input type="number" value="${item.quantity}" min="1" class="form-control quantity-input" 
                        onchange="atualizarQuantidade(${item.id}, this.value)" style="width: 80px; margin-left: 10px;">`;
                    var buttonGroup = document.createElement("div");
                    buttonGroup.className = "btn-group btn-group-sm";
                    var removeBtn = document.createElement("button");
                    removeBtn.className = "btn btn-danger";
                    removeBtn.innerHTML = "Remover";
                    removeBtn.addEventListener("click", function () {
                        removerDoCarrinho(item.id);
                    });

                    buttonGroup.appendChild(removeBtn);
                    li.appendChild(buttonGroup);
                    carrinhoList.appendChild(li);
                });
            }).catch(error => {
                console.error("Erro ao carregar o carrinho:", error);
            });
        }

        function atualizarQuantidade(id, novaQuantidade) {
            if (isNaN(novaQuantidade) || novaQuantidade <= 0) {
                alert("Quantidade inválida!");
                return;
            }
            axios.put(`http://localhost:4567/app/cart/updateItem/${id}`, { quantity: parseInt(novaQuantidade) })
                .then(response => {
                    alert("Quantidade atualizada para o produto " + id);
                    atualizarCarrinho(); // Atualiza o carrinho após a alteração
                })
                .catch(error => {
                    console.error("Erro ao atualizar quantidade:", error);
                });
        }

        function removerDoCarrinho(id) {
            axios.delete(`http://localhost:4567/app/cart/deleteItem/${id}`).then(response => {
                alert("Produto removido do carrinho!");
                atualizarCarrinho();
            }).catch(error => {
                console.error("Erro ao remover produto do carrinho:", error);
            });
        }

        function finalizarCompra() {
            if (carrinho.length === 0) {
                alert("O carrinho está vazio! Adicione produtos antes de finalizar a compra.");
                return;
            }
            const paymentMethod = document.getElementById("paymentMethod").value;
            const deliveryAddress = document.getElementById("deliveryAddress").value;
            if (!paymentMethod) {
                alert("Por favor, selecione uma forma de pagamento.");
                return;
            }
            if (!deliveryAddress) {
                alert("Por favor, digite o endereço de entrega.");
                return;
            }
            const produtosParaEnviar = carrinho.map(p => ({
                name: p.name,
                quantity: p.quantity
            }));
            // Chama a função para finalizar a compra
            finishbuy(produtosParaEnviar, paymentMethod, deliveryAddress);
            // Limpa o carrinho após a compra
            atualizarCarrinho(); // Atualiza a lista do carrinho
        }

        function finishbuy(produtos, paymentMethod, deliveryAddress) {
            axios.post("http://localhost:4567/app/cart/finishBuy", {
                produtos,
                paymentMethod,
                deliveryAddress
            }).then(response => {
                alert("Compra realizada com sucesso!");
                atualizarCarrinho();

            }).catch(error => {
                alert("Erro ao finalizar compra!");
                console.error("Erro ao finalizar compra:", error);
            });
        }

        function logout() {
            axios.get("http://localhost:4567/app/login/logout/")
                .then(response => {
                    // Verifique se o logout foi bem-sucedido
                    if (response.status === 200) {
                        // Redirecionar para a página de login
                        window.location.href = 'index.html';
                    } else {
                        console.log("Erro ao deslogar:", response.data);
                    }
                })
                .catch(error => {
                    console.error("Erro na requisição de logout:", error);
                });
        }

        window.onload = loadProducts;
    </script>
</body>

</html>